body{
    margin: 20px;
    background-color: rgb(253, 160, 150);
}
#transition-1{
    height: 180px;
    width: 180px;
    background-color: lawngreen;
    text-align: center;
    margin: 20px;
    padding: 10px;
    transform: translateX(500px) translateY(200px); 
    transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease-in;
}
#transition-1:hover{
    background-color: red;
    border-radius: 150px;
}
#transition-2{
    height: 190px;
    width: 190px;
    background-color: rgb(252, 0, 155);
    text-align: center;
    margin: 20px;
    padding: 10px;
    transform: translateX(40px) translateY(-30px); 
    transition-property: background-color;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}
#transition-2:hover{
    background-color:blue;
    border-radius: 50px;
}
#transition-3{
    height: 200px;
    width: 200px;
    background-color: rgb(0, 252, 239);
    text-align: center;
    margin: 20px;
    padding: 10px;
    transform: translateX(1000px) translateY(-240px);
    transition-property: background-color;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}
#transition-3:hover{
    background-color: brown;
    border-radius: 80px;
}